
body {
  cursor: default;
  -webkit-user-select: none;
  -webkit-app-region: drag;

  background-color: rgba(128, 128, 128, 0.3);

  transition: all 300ms;

  &.full-transparent {
    background-color: rgba(128, 128, 128, 0);
  }
}

div.info {
  visibility: hidden;

  body.info-visible & {
    visibility: visible;
  }
}
